In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('realtor-data.zip.csv')
california_df = df[df['state'] == 'California']
california_df.to_csv('california_housing.csv', index=False)

In [9]:
df = pd.read_csv('california_housing.csv')
df.head()

   brokered_by    status         price  ...  zip_code  house_size  prev_sold_date
0     102093.0  for_sale  3.000000e+06  ...       0.0      6889.0             NaN
1      23826.0  for_sale  2.147484e+09  ...       NaN       885.0             NaN
2      98034.0  for_sale  1.000000e+07  ...       NaN         NaN             NaN
3      16829.0  for_sale  3.280000e+05  ...       NaN         NaN             NaN
4      17458.0  for_sale  1.990000e+05  ...   96121.0         NaN             NaN

[5 rows x 12 columns]